{% extends 'base.html' %}
{% block body %}

<div class="col-lg-5">
    
        <form class="form-signin" method="post" action="{% url 'desativar' %}">
            <div>
            {% csrf_token %}
            <input name="justificativa" id="nome_id" required placeholder=" Nos diga o porque" style="min-height: 90px; min-width: 300px;">
            <button class="btn btn-danger pull-right btn-confirm" >Desativar</button>
            </div>
            <div
                class="modal fade"
                tabindex="-1"
                role="dialog"
                aria-labelledby="mySmallModalLabel"
                aria-hidden="true"
                id="mi-modal"
            >
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>

                            <h4
                                class="modal-title"
                                id="myModalLabel"
                            >
                                Porque você deseja desativar a sua conta?
                            </h4>
                        </div>

                        <div class="modal-footer">
                            <p>
                                <a
                                    class="btn btn-default cd-popup-no"
                                    href="{% url 'desativar_conta' %}"
                                >Cancelar</a>

                                <a
                                    class="btn btn-default"
                                    href="{% url 'desativar' %}"
                                >Excluir</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    
</div>



<script type="text/javascript">
    var modalConfirm = function(callback){
  
  $(".btn-confirm").on("click", function(){
    $("#mi-modal").modal('show');
  });

  $("#modal-btn-si").on("click", function(){
    callback(true);
    $("#mi-modal").modal('hide');
  });
  
  $("#modal-btn-no").on("click", function(){
    callback(false);
    $("#mi-modal").modal('hide');
  });
};

modalConfirm(function(confirm){
  
});
</script>

{% endblock %}